Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

rustfmt:
  name: rustfmt
  description: Check Rust fmt.
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check
  fail_fast: true

cargo-test:
  name: cargo test
  description: Run Rust tests.
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - --test-threads=1
  fail_fast: true

clippy:
  name: clippy
  description: Run Rust lints.
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - -D
  - warnings
  fail_fast: true

pyfmt:
  name: pyfmt
  description: Check Python fmt.
  entry: cd huak-py && make fmt-check
  language: system
  pass_filenames: false
  fail_fast: true

flake8:
  name: flake8
  description: Run Python lints.
  entry: cd huak-py && make lint
  language: system
  pass_filenames: false
  fail_fast: true

mypy:
  name: mypy
  description: Check Python types.
  entry: cd huak-py && make lint-types
  language: system
  pass_filenames: false
  fail_fast: true

pytest:
  name: pytest
  description: Run Python tests.
  entry: cd huak-py && make test
  language: system
  pass_filenames: false
  fail_fast: true

Fix run command
  src/huak/env/python_environment.rs
  src/huak/env/runner.rs
  src/huak/ops/activate.rs
  src/huak/ops/run.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Use VIRTUAL_ENV environment variable
  src/huak/env/python_environment.rs
  src/huak/ops/activate.rs
Due: rustfmt, cargo-test, clippy

Use VIRTUAL_ENV environment variable (#448)
  src/huak/env/python_environment.rs
  src/huak/ops/activate.rs
Due: rustfmt, cargo-test, clippy

Use '.' instead of 'source'
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Try using '.' only if 'sh'
  src/huak/env/runner.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Use Command.env to inject virtual environment's path
  src/huak/env/runner.rs
Due: rustfmt, cargo-test, clippy

Use xlcsv for run test
  src/huak/ops/run.rs
Due: rustfmt, cargo-test, clippy

Use pytest for run test
  src/huak/ops/run.rs
Due: rustfmt, cargo-test, clippy

Improve huak activate command on windows
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Use env::join_paths
  src/huak/env/runner.rs
Due: rustfmt, cargo-test, clippy

Improve huak activate command on windows (#449)
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Fix run command (#446)
  src/huak/env/runner.rs
  src/huak/ops/run.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10-alpha.5
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.5 (#450)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add human-panic
  Cargo.lock
  Cargo.toml
  src/bin/huak/main.rs
Due: rustfmt, cargo-test, clippy

Add human-panic (#451)
  Cargo.lock
  Cargo.toml
  src/bin/huak/main.rs
Due: rustfmt, cargo-test, clippy

Add basic publish command
  README.md
  src/bin/huak/commands/mod.rs
  src/bin/huak/commands/publish.rs
  src/huak/ops/mod.rs
  src/huak/ops/publish.rs
Due: rustfmt, cargo-test, clippy

Update ops::build
  src/huak/ops/build.rs
Due: rustfmt, cargo-test, clippy

Add basic publish command (#452)
  README.md
  src/bin/huak/commands/mod.rs
  src/bin/huak/commands/publish.rs
  src/huak/ops/mod.rs
  src/huak/ops/publish.rs
Due: rustfmt, cargo-test, clippy

Update ops::build (#453)
  src/huak/ops/build.rs
Due: rustfmt, cargo-test, clippy

Update Cargo.toml
  Cargo.toml
Due: none

Update Cargo.toml (#454)
  Cargo.toml
Due: none

Add anaconda environment variable logic to activation
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Don't activate Venv if CONDA_PREFIX is found (#456)
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10-alpha.6
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.6 (#457)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add basic user guide
  README.md
  docs/user_guide.md
Due: none

Add basic user guide (#460)
  README.md
  docs/user_guide.md
Due: none

Update the getting started user guide section
  docs/user_guide.md
Due: none

Update the getting started user guide section (#461)
  docs/user_guide.md
Due: none

Only accept pyproject.toml marked virtualenv in Venv::from_directory
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Only accept pyproject.toml marked virtualenv in Venv::from_directory (#466)
  src/huak/env/python_environment.rs
Due: rustfmt, cargo-test, clippy

Update the user guide
  docs/user_guide.md
Due: none

Update the user guide (#468)
  docs/user_guide.md
Due: none

Bump to v0.0.10-alpha.7
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.7 (#469)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Prepare bin space
  Cargo.lock
  Cargo.toml
  src/bin/huak/cli.rs
  src/bin/huak/error.rs
  src/bin/huak/main.rs
  src/bin/huak/mod.rs
  src/huak/error.rs
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Add resources dir
  resources/mock-project/.gitignore
  resources/mock-project/pyproject.toml
  resources/mock-project/src/mock_project/__init__.py
  resources/mock-project/src/mock_project/__init__.pyc
  resources/mock-project/tests/__init__.py
  resources/mock-project/tests/test_package.py
  resources/readme
Due: pyfmt, flake8, mypy, pytest

Update toml and venv tests
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Path conditions:
  rustfmt: any of: Cargo\.toml|\.rs$ and \.rs$
  cargo-test: any of: Cargo\.toml|\.rs$ and \.rs$
  clippy: any of: Cargo\.toml|\.rs$ and \.rs$
  pyfmt: any of: pyproject\.toml|\.py$ and \.py$
  flake8: any of: pyproject\.toml|\.py$ and \.py$
  mypy: any of: pyproject\.toml|\.py$ and \.py$
  pytest: any of: pyproject\.toml|\.py$ and \.py$
