Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: rustfmt
        description: Check Rust fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
        fail_fast: true

      - id: cargo-test
        name: cargo test
        description: Run Rust tests.
        entry: cargo test
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "--test-threads=1"]
        fail_fast: true

      - id: clippy
        name: clippy
        description: Run Rust lints.
        entry: cargo clippy
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "-D", "warnings"]
        fail_fast: true
        
      # Python
      - id: pyfmt
        name: pyfmt
        description: Check Python fmt.
        entry: cd huak-py && make fmt-check
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: flake8
        name: flake8
        description: Run Python lints.
        entry: cd huak-py && make lint
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: mypy
        name: mypy
        description: Check Python types.
        entry: cd huak-py && make lint-types
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true
        
      - id: pytest
        name: pytest
        description: Run Python tests.
        entry: cd huak-py && make test
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

Add Package::from_str implementation
  Cargo.lock
  Cargo.toml
  src/huak/error.rs
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Git init
  src/huak/git.rs
Due: rustfmt, cargo-test, clippy

Bump pyproject-toml to 0.4.0
  Cargo.lock
  Cargo.toml
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Add find_venv_root
  src/huak/fs.rs
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add VirtualEnvironment.is_activated
  src/huak/lib.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Add ops with wrapped commands
  src/huak/fs.rs
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Update create project ops
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add remove dependency ops
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add init and display version ops
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Update docs/design_doc.md
  docs/design_doc.md
Due: none

Add clean project operation
  Cargo.lock
  Cargo.toml
  src/huak/error.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add run_command_str operation
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Propagate trailing command to operations
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Include the mock project dist directory
  resources/mock-project/.gitignore
  resources/mock-project/dist/mock-project
Due: none

Fix run_command_str operation
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add init and new project operations
  src/huak/fs.rs
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add install operations
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add add dependency operations
  src/huak/error.rs
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add wired bin space
  src/bin/huak/cli.rs
  src/bin/huak/error.rs
  src/huak/fs.rs
  src/huak/git.rs
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Clean up
  README.md
  docs/user_guide.md
  src/bin/huak/cli.rs
  src/huak/fs.rs
  src/huak/git.rs
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Add venv.has_package
  .github/workflows/ci-rust.yaml
  src/bin/huak/cli.rs
  src/bin/huak/error.rs
  src/bin/huak/main.rs
  src/huak/git.rs
  src/huak/lib.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

More clean up
  .github/workflows/ci-rust.yaml
  docs/CONTRIBUTING.md
  src/bin/huak/main.rs
Due: rustfmt, cargo-test, clippy

Update gha
  .github/workflows/ci-rust.yaml
Due: none

Resolve lints
  src/huak/fs.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add optional openssl
  Cargo.lock
  Cargo.toml
Due: none

Rename resources to dev-resources
  dev-resources/mock-project/.gitignore
  dev-resources/mock-project/dist/mock-project
  dev-resources/mock-project/pyproject.toml
  dev-resources/mock-project/src/mock_project/__init__.py
  dev-resources/mock-project/src/mock_project/__init__.pyc
  dev-resources/mock-project/tests/__init__.py
  dev-resources/mock-project/tests/test_package.py
  dev-resources/readme
  src/bin/huak/cli.rs
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Always exit with code
  src/bin/huak/cli.rs
  src/huak/lib.rs
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Resolve lints
  src/huak/ops.rs
  src/huak/sys.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10 (#488)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Use ruff check
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Use ruff check (#489)
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Use UnimplementedError for unimplemeted commands
  src/bin/huak/cli.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Find or create venv for all commands requiring a venv
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Use UnimplementedError for unimplemeted commands (#490)
  src/bin/huak/cli.rs
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add PYTHONPATH=workspace_root to test command
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Find or create venv for all commands requiring a venv (#491)
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Add PYTHONPATH for test command (#492)
  src/huak/ops.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.11
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none
