Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: rustfmt
        description: Check Rust fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
        fail_fast: true

      - id: cargo-test
        name: cargo test
        description: Run Rust tests.
        entry: cargo test
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "--test-threads=1"]
        fail_fast: true

      - id: clippy
        name: clippy
        description: Run Rust lints.
        entry: cargo clippy
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "-D", "warnings"]
        fail_fast: true
        
      # Python
      - id: pyfmt
        name: pyfmt
        description: Check Python fmt.
        entry: cd huak-py && make fmt-check
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: flake8
        name: flake8
        description: Run Python lints.
        entry: cd huak-py && make lint
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: mypy
        name: mypy
        description: Check Python types.
        entry: cd huak-py && make lint-types
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true
        
      - id: pytest
        name: pytest
        description: Run Python tests.
        entry: cd huak-py && make test
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

Update README.md
  README.md
Due: none

sorted the params of the functions in cli.rs
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Update parameter ordering
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Clippy lint
  crates/huak-package-manager/src/python_environment.rs
Due: rustfmt, cargo-test, clippy

Clean up function signatures in cli.rs (#880)
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/src/python_environment.rs
Due: rustfmt, cargo-test, clippy

Fix clippy lints
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-pyproject-toml/src/lib.rs
  crates/huak-python-manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Typos
  crates/huak-package-manager/src/ops/toolchain.rs
Due: rustfmt, cargo-test, clippy

Update pep440_rs and pep508_rs
  Cargo.lock
  Cargo.toml
Due: none

Fix clippy lints and update pep440_rs and pep508_rs (#882)
  Cargo.lock
  Cargo.toml
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-pyproject-toml/src/lib.rs
  crates/huak-python-manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Remove GitHub issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Remove GitHub issue templates (#884)
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: none

Clippy lints
  crates/huak-package-manager/src/sys.rs
Due: rustfmt, cargo-test, clippy

Clippy lints (#886)
  crates/huak-package-manager/src/sys.rs
Due: rustfmt, cargo-test, clippy

Use --locked for CI's cargo install
  .github/workflows/ci.yaml
Due: none

Use --locked for CI's cargo install (#885)
  .github/workflows/ci.yaml
Due: none

Use pep508_rs v0.3.0
  Cargo.lock
  Cargo.toml
Due: none

Use pep508_rs v0.3.0 (#887)
  Cargo.lock
  Cargo.toml
Due: none

Add uv and ruff as submodules
  .gitmodules
Due: none

Initial cargo-dist init
  .github/workflows/release.yml
  Cargo.toml
  crates/huak-cli/Cargo.toml
Due: none

Rename release.yaml to pypi-release.yaml
  .github/workflows/pypi-release.yaml
Due: none

Update CI and more chores
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/sys.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-pyproject-toml/src/lib.rs
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/scripts/generated_python_releases.json
  crates/huak-python-manager/scripts/generated_python_releases.parquet
  crates/huak-python-manager/src/install.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add freeze command
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Add tests
  crates/huak-cli/tests/mod.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__freeze_help.snap
Due: rustfmt, cargo-test, clippy

Fix tests
  crates/huak-cli/tests/mod.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__help-2.snap
  crates/huak-cli/tests/snapshots/r#mod__tests__help.snap
Due: rustfmt, cargo-test, clippy

Remove unused code
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Clippy
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/src/manifest.rs
  crates/huak-package-manager/src/ops/install.rs
  crates/huak-package-manager/src/package.rs
  crates/huak-pyproject-toml/src/lib.rs
Due: rustfmt, cargo-test, clippy

Remove TODO comments from CLI descriptions
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Update insta-cmd and fix usage
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-cli/tests/mod.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__install_help.snap
Due: rustfmt, cargo-test, clippy

Bump to actions/setup-python@v5
  .github/workflows/ci.yaml
Due: none

Remove old docs
  README.md
  docs/CONTRIBUTING.md
  docs/development.md
  docs/index.md
  docs/user_guide.md
Due: none

Update docs
  README.md
  docs/index.md
  docs/user_guide.md
Due: none

Deployed 4f2fb5d with MkDocs version: 1.6.0
  404.html
  CODE_OF_CONDUCT/index.html
  CONTRIBUTING/index.html
  assets/javascripts/bundle.a7c05c9e.min.js
  assets/javascripts/bundle.a7c05c9e.min.js.map
  assets/javascripts/bundle.b425cdc4.min.js
  assets/javascripts/bundle.b425cdc4.min.js.map
  assets/javascripts/lunr/min/lunr.el.min.js
  assets/javascripts/lunr/min/lunr.he.min.js
  assets/javascripts/workers/search.208ed371.min.js
  assets/javascripts/workers/search.208ed371.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/stylesheets/main.26e3688c.min.css
  assets/stylesheets/main.26e3688c.min.css.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ecc896b0.min.css
  assets/stylesheets/palette.ecc896b0.min.css.map
  development/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
  user_guide/index.html
Due: none
