Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

rustfmt:
  name: rustfmt
  description: Check Rust fmt.
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check
  fail_fast: true

cargo-test:
  name: cargo test
  description: Run Rust tests.
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - --test-threads=1
  fail_fast: true

clippy:
  name: clippy
  description: Run Rust lints.
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - -D
  - warnings
  fail_fast: true

pyfmt:
  name: pyfmt
  description: Check Python fmt.
  entry: cd huak-py && make fmt-check
  language: system
  pass_filenames: false
  fail_fast: true

flake8:
  name: flake8
  description: Run Python lints.
  entry: cd huak-py && make lint
  language: system
  pass_filenames: false
  fail_fast: true

mypy:
  name: mypy
  description: Check Python types.
  entry: cd huak-py && make lint-types
  language: system
  pass_filenames: false
  fail_fast: true

pytest:
  name: pytest
  description: Run Python tests.
  entry: cd huak-py && make test
  language: system
  pass_filenames: false
  fail_fast: true

Update README.md
  docs/CONTRIBUTING.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Update README.md (#370)
  docs/CONTRIBUTING.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Bump to 0.0.8-alpha.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to 0.0.8-alpha.1 (#371)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump build-system version & remove pyo3 dep
  Cargo.toml
  pyproject.toml
Due: none

Remove explicit python version release targets
  .github/workflows/ci-rust.yaml
  .github/workflows/release.yaml
Due: none

Build general py3 wheels for distribution (#373)
  .github/workflows/ci-rust.yaml
  .github/workflows/release.yaml
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.8-alpha.2
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.8-alpha.2 (#375)
  Cargo.toml
  pyproject.toml
Due: none

Update README
  Cargo.lock
  README.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Update README (#376)
  Cargo.lock
  README.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Update lockfile
  Cargo.lock
Due: none

Update lockfile (#377)
  Cargo.lock
Due: none

Silently activate venv
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
Due: rustfmt, cargo-test, clippy

Silently activate venv (#378)
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
Due: rustfmt, cargo-test, clippy

Use src project structure
  src/huak/ops/new.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Use src project structure (#380)
  src/huak/ops/new.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Remove premature huak-py project
  .pre-commit-config.yaml
  huak-py/.gitignore
  huak-py/Makefile
  huak-py/poetry.lock
  huak-py/pyproject.toml
  huak-py/src/huak/__init__.py
  huak-py/tests/__init__.py
  huak-py/tests/test_package.py
Due: pyfmt, flake8, mypy, pytest

Remove ci-python.yaml
  .github/workflows/ci-python.yaml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#382)
  README.md
Due: none

Refactor venv usage pattern
  src/bin/huak/commands/activate.rs
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/init.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/venv.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/lint.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
Due: rustfmt, cargo-test, clippy

Refactor venv usage pattern (#383)
  src/bin/huak/commands/activate.rs
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/init.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/venv.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/lint.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
Due: rustfmt, cargo-test, clippy

Create venv from install command if none exists
  src/bin/huak/commands/install.rs
Due: rustfmt, cargo-test, clippy

Create venv from install command if none exists (#390)
  src/bin/huak/commands/install.rs
Due: rustfmt, cargo-test, clippy

Clean up huak::package and remove empty modules
  src/huak/env/venv.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/install.rs
  src/huak/package/build.rs
  src/huak/package/index.rs
  src/huak/package/mod.rs
  src/huak/package/publish.rs
  src/huak/package/python.rs
  src/huak/project/config.rs
Due: rustfmt, cargo-test, clippy

Bump rust-version to v1.67.0
  Cargo.toml
Due: none

Fix uninlined_format_args lint
  src/bin/huak/commands/config/completion.rs
  src/bin/huak/main.rs
  src/huak/env/venv.rs
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Clean up `package` and fix `uninlined_format_args` lint (#392)
  Cargo.toml
  src/bin/huak/commands/config/completion.rs
  src/bin/huak/main.rs
  src/huak/env/venv.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/install.rs
  src/huak/package/build.rs
  src/huak/package/index.rs
  src/huak/package/mod.rs
  src/huak/package/publish.rs
  src/huak/package/python.rs
  src/huak/project/config.rs
Due: rustfmt, cargo-test, clippy

Add pep440-rs v0.1.1
  Cargo.lock
  Cargo.toml
Due: none

Use pep440::Operator
  src/huak/errors.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Rename PythonPackage::new to from_str_parts
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Fix typo
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Rename PythonPackage::from to from_str
  src/huak/env/venv.rs
  src/huak/ops/build.rs
  src/huak/package/mod.rs
  src/huak/project/config.rs
Due: rustfmt, cargo-test, clippy

Rename PythonPackage::new to from_str_parts (#393)
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Use PythonPackage.name instead of .string()
  src/huak/env/venv.rs
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Impl FromString for PythonPackage
  src/huak/env/venv.rs
  src/huak/ops/build.rs
  src/huak/package/mod.rs
  src/huak/project/config.rs
Due: rustfmt, cargo-test, clippy

Use pep440-rs Operator, Version, and VersionSpecifier in PythonPackage
  src/huak/errors.rs
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Use PythonPackage.name instead of .string() (#396)
  src/huak/env/venv.rs
  src/huak/ops/add.rs
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Fix snippet comments
  src/huak/package/mod.rs
Due: rustfmt, cargo-test, clippy

Path conditions:
  rustfmt: any of: Cargo\.toml|\.rs$ and \.rs$
  cargo-test: any of: Cargo\.toml|\.rs$ and \.rs$
  clippy: any of: Cargo\.toml|\.rs$ and \.rs$
  pyfmt: any of: pyproject\.toml|\.py$ and \.py$
  flake8: any of: pyproject\.toml|\.py$ and \.py$
  mypy: any of: pyproject\.toml|\.py$ and \.py$
  pytest: any of: pyproject\.toml|\.py$ and \.py$
