Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

rustfmt:
  name: rustfmt
  description: Check Rust fmt.
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-test:
  name: cargo test
  description: Run Rust tests.
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-features

clippy:
  name: clippy
  description: Run Rust lints.
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - -D
  - warnings

pyfmt:
  name: pyfmt
  description: Check Python fmt.
  entry: cd huak-py && make fmt-check
  language: system
  pass_filenames: false

flake8:
  name: flake8
  description: Run Python lints.
  entry: cd huak-py && make lint
  language: system
  pass_filenames: false

mypy:
  name: mypy
  description: Check Python types.
  entry: cd huak-py && make lint-types
  language: system
  pass_filenames: false

pytest:
  name: pytest
  description: Run Python tests.
  entry: cd huak-py && make test
  language: system
  pass_filenames: false

Update README.md
  README.md
Due: none

Update README.md (#113)
  README.md
Due: none

Fix make test pre-commit entry (#112)
  .pre-commit-config.yaml
Due: none

Update README.md (#114)
  README.md
Due: none

Update README.md (#115)
  README.md
Due: none

Refactor cli's clean for ops
  src/bin/huak/commands/clean.rs
  src/huak/ops/clean.rs
  src/huak/ops/mod.rs
Due: rustfmt, cargo-test, clippy

Refactor cli's clean for ops (#117)
  src/bin/huak/commands/clean.rs
  src/huak/ops/clean.rs
  src/huak/ops/mod.rs
Due: rustfmt, cargo-test, clippy

Use rustfmt line-length 80
  .rustfmt.toml
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/clean_pycache.rs
  src/bin/huak/commands/help.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/test_utils.rs
  src/huak/env/python.rs
  src/huak/env/venv.rs
  src/huak/ops/fmt.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Use rustfmt line-length 80 (#118)
  .rustfmt.toml
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/clean_pycache.rs
  src/bin/huak/commands/help.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/test_utils.rs
  src/huak/env/python.rs
  src/huak/env/venv.rs
  src/huak/ops/fmt.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Add ops clean test
  src/bin/huak/commands/clean_pycache.rs
  src/bin/huak/main.rs
  src/huak/lib.rs
  src/huak/ops/clean.rs
  src/huak/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add fmt_me.py to mock-project
  resources/mock-project/src/mock_project/fmt_me.py
Due: pyfmt, flake8, mypy, pytest

Clean up test_utils
  src/huak/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add ops fmt test
  resources/mock-project/src/mock_project/fmt_me.py
  src/huak/env/venv.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Improved testing .venv usage
  .gitignore
  src/huak/config/mod.rs
  src/huak/env/venv.rs
  src/huak/lib.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/test_utils.rs
  src/huak/utils/mod.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add ops install and init tests
  .cargo/config.toml
  .github/workflows/ci-rust.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  src/huak/config/requirements.rs
  src/huak/ops/fmt.rs
  src/huak/ops/init.rs
  src/huak/ops/install.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add ops new test
  src/huak/ops/new.rs
Due: rustfmt, cargo-test, clippy

Add ops remove test
  src/huak/ops/remove.rs
Due: rustfmt, cargo-test, clippy

Add more tests (#125)
  .cargo/config.toml
  .github/workflows/ci-rust.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  src/bin/huak/commands/clean_pycache.rs
  src/bin/huak/main.rs
  src/bin/huak/test_utils.rs
  src/huak/config/mod.rs
  src/huak/config/requirements.rs
  src/huak/env/venv.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/ops/init.rs
  src/huak/ops/install.rs
  src/huak/ops/new.rs
  src/huak/ops/remove.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/utils/mod.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Return optional Venv from find
  src/huak/env/venv.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Return optional Venv from find (#126)
  src/huak/env/venv.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Update README.md (#131)
  README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#136)
  CONTRIBUTING.md
Due: none

Implement Project::from
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/init.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/new.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/test.rs
  src/bin/huak/commands/version.rs
  src/huak/config/mod.rs
  src/huak/config/python.rs
  src/huak/config/requirements.rs
  src/huak/env/venv.rs
  src/huak/ops/init.rs
  src/huak/ops/install.rs
  src/huak/ops/version.rs
  src/huak/project/config.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Implement Project::from (#133)
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/init.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/new.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/test.rs
  src/bin/huak/commands/version.rs
  src/huak/config/mod.rs
  src/huak/config/python.rs
  src/huak/config/requirements.rs
  src/huak/env/venv.rs
  src/huak/ops/init.rs
  src/huak/ops/install.rs
  src/huak/ops/version.rs
  src/huak/project/config.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Update README.md
  README.md
  architecture.md
Due: none

Update README.md (#139)
  README.md
  architecture.md
Due: none

Add more tests and enhancements
  src/huak/env/venv.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/package/python.rs
  src/huak/project/config.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/utils/mod.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add more tests and enhancements (#143)
  src/huak/env/venv.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/package/python.rs
  src/huak/project/config.rs
  src/huak/project/mod.rs
  src/huak/project/python.rs
  src/huak/utils/mod.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Capture utf-8 stdout
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Capture utf-8 stdout (#144)
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Update contributing docs
  CONTRIBUTING.md
  README.md
Due: none

Update contributing docs (#145)
  CONTRIBUTING.md
  README.md
Due: none

Capture full stdout and stderr
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Capture full stdout and stderr (#146)
  src/huak/utils/command.rs
Due: rustfmt, cargo-test, clippy

Path conditions:
  rustfmt: any of: Cargo\.toml|\.rs$ and \.rs$
  cargo-test: any of: Cargo\.toml|\.rs$ and \.rs$
  clippy: any of: Cargo\.toml|\.rs$ and \.rs$
  pyfmt: any of: pyproject\.toml|\.py$ and \.py$
  flake8: any of: pyproject\.toml|\.py$ and \.py$
  mypy: any of: pyproject\.toml|\.py$ and \.py$
  pytest: any of: pyproject\.toml|\.py$ and \.py$
