Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: rustfmt
        description: Check Rust fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
        fail_fast: true

      - id: cargo-test
        name: cargo test
        description: Run Rust tests.
        entry: cargo test
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "--test-threads=1"]
        fail_fast: true

      - id: clippy
        name: clippy
        description: Run Rust lints.
        entry: cargo clippy
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "-D", "warnings"]
        fail_fast: true
        
      # Python
      - id: pyfmt
        name: pyfmt
        description: Check Python fmt.
        entry: cd huak-py && make fmt-check
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: flake8
        name: flake8
        description: Run Python lints.
        entry: cd huak-py && make lint
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: mypy
        name: mypy
        description: Check Python types.
        entry: cd huak-py && make lint-types
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true
        
      - id: pytest
        name: pytest
        description: Run Python tests.
        entry: cd huak-py && make test
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

Update CLI
  crates/huak-cli/src/cli.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__python_help.snap
Due: rustfmt, cargo-test, clippy

Update CLI (#789)
  crates/huak-cli/src/cli.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__python_help.snap
Due: rustfmt, cargo-test, clippy

Add Huak toolchain planning
  dev-resources/planning.md
  dev-resources/readme
Due: none

Add Huak toolchain planning (#796)
  dev-resources/planning.md
  dev-resources/readme
Due: none

Remove planning.md markdown link
  dev-resources/planning.md
Due: none

Macro declarations after comments
  crates/huak-cli/src/cli.rs
  crates/huak-cli/src/main.rs
  crates/huak-home/src/lib.rs
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/dependency.rs
  crates/huak-package-manager/src/environment.rs
  crates/huak-package-manager/src/metadata.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/package.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/version.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Macro declarations after comments (#799)
  crates/huak-cli/src/cli.rs
  crates/huak-cli/src/main.rs
  crates/huak-home/src/lib.rs
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/dependency.rs
  crates/huak-package-manager/src/environment.rs
  crates/huak-package-manager/src/metadata.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/package.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/version.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Remove 'fetch' from toolchain plans and add 'run'
  dev-resources/planning.md
Due: none

Add 'python' subcommand alias 'py'
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Add 'python' subcommand alias 'py' (#800)
  crates/huak-cli/src/cli.rs
Due: rustfmt, cargo-test, clippy

Use thiserror in `huak-python-manager`
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-package-manager/Cargo.toml
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Use thiserror in `huak-python-manager` (#801)
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-package-manager/Cargo.toml
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Require major.minor for `RequestedVersion`
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Require major.minor for `RequestedVersion` (#802)
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Fix python use subcommand
  Cargo.lock
  Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/lib.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/version.rs
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  crates/huak-python-manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Fix python use subcommand (#804)
  Cargo.lock
  Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/lib.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/python_environment.rs
  crates/huak-package-manager/src/version.rs
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  crates/huak-python-manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Allow `RequestedVersion.matches_version` with 'other' patch missing
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Allow `RequestedVersion.matches_version` with 'other' patch missing (#805)
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-python-manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Use `lazy_static` in `huak-package-manager`
  Cargo.lock
  Cargo.toml
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/package.rs
  crates/huak-python-manager/Cargo.toml
Due: rustfmt, cargo-test, clippy

Use `lazy_static` in `huak-package-manager` (#806)
  Cargo.lock
  Cargo.toml
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/package.rs
  crates/huak-python-manager/Cargo.toml
Due: rustfmt, cargo-test, clippy

Update to `Swatinem/rust-cache@v2`
  .github/workflows/ci.yaml
Due: none

Update to `Swatinem/rust-cache@v2` (#807)
  .github/workflows/ci.yaml
Due: none

Add home to `Config`
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/ops/add.rs
  crates/huak-package-manager/src/ops/build.rs
  crates/huak-package-manager/src/ops/clean.rs
  crates/huak-package-manager/src/ops/format.rs
  crates/huak-package-manager/src/ops/init.rs
  crates/huak-package-manager/src/ops/install.rs
  crates/huak-package-manager/src/ops/lint.rs
  crates/huak-package-manager/src/ops/new.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/ops/remove.rs
  crates/huak-package-manager/src/ops/run.rs
  crates/huak-package-manager/src/ops/test.rs
  crates/huak-package-manager/src/ops/update.rs
  crates/huak-package-manager/src/python_environment.rs
Due: rustfmt, cargo-test, clippy

Add home to `Config` (#810)
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/ops/add.rs
  crates/huak-package-manager/src/ops/build.rs
  crates/huak-package-manager/src/ops/clean.rs
  crates/huak-package-manager/src/ops/format.rs
  crates/huak-package-manager/src/ops/init.rs
  crates/huak-package-manager/src/ops/install.rs
  crates/huak-package-manager/src/ops/lint.rs
  crates/huak-package-manager/src/ops/new.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/ops/remove.rs
  crates/huak-package-manager/src/ops/run.rs
  crates/huak-package-manager/src/ops/test.rs
  crates/huak-package-manager/src/ops/update.rs
  crates/huak-package-manager/src/python_environment.rs
Due: rustfmt, cargo-test, clippy

Set `Terminal` default color to auto
  crates/huak-package-manager/src/sys.rs
Due: rustfmt, cargo-test, clippy

Set `Terminal` default color to auto (#811)
  crates/huak-package-manager/src/sys.rs
Due: rustfmt, cargo-test, clippy

Update planning.md
  dev-resources/planning.md
Due: none

Update planning.md (#812)
  dev-resources/planning.md
Due: none

Update readme.md
  README.md
Due: none

Update readme.md (#813)
  README.md
Due: none

Add `huak-toolchain` (789)
  Cargo.lock
  Cargo.toml
  crates/huak-cli/Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-cli/src/main.rs
  crates/huak-home/src/lib.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/fs.rs
  crates/huak-package-manager/src/lib.rs
  crates/huak-package-manager/src/metadata.rs
  crates/huak-package-manager/src/ops/mod.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/settings.rs
  crates/huak-package-manager/src/sys.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  crates/huak-python-manager/src/version.rs
  crates/huak-toolchain/Cargo.toml
  crates/huak-toolchain/README.md
  crates/huak-toolchain/src/channel.rs
  crates/huak-toolchain/src/error.rs
  crates/huak-toolchain/src/install.rs
  crates/huak-toolchain/src/lib.rs
  crates/huak-toolchain/src/path.rs
  crates/huak-toolchain/src/resolve.rs
  crates/huak-toolchain/src/tools.rs
  dev-resources/planning.md
  pyproject.toml
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add `huak-toolchain` (789)
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-cli/tests/snapshots/r#mod__tests__help-2.snap
  crates/huak-cli/tests/snapshots/r#mod__tests__help.snap
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-toolchain/README.md
  crates/huak-toolchain/src/install.rs
  crates/huak-toolchain/src/lib.rs
  crates/huak-toolchain/src/resolve.rs
  crates/huak-toolchain/src/tools.rs
  pyproject.toml
Due: rustfmt, cargo-test, clippy

Add `huak-toolchain` (first-pass) (#798)
  Cargo.lock
  Cargo.toml
  crates/huak-cli/Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-cli/src/main.rs
  crates/huak-cli/tests/snapshots/r#mod__tests__help-2.snap
  crates/huak-cli/tests/snapshots/r#mod__tests__help.snap
  crates/huak-home/src/lib.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/config.rs
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/fs.rs
  crates/huak-package-manager/src/lib.rs
  crates/huak-package-manager/src/metadata.rs
  crates/huak-package-manager/src/ops/mod.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-package-manager/src/ops/toolchain.rs
  crates/huak-package-manager/src/settings.rs
  crates/huak-package-manager/src/sys.rs
  crates/huak-package-manager/src/workspace.rs
  crates/huak-python-manager/Cargo.toml
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/error.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  crates/huak-python-manager/src/version.rs
  crates/huak-toolchain/Cargo.toml
  crates/huak-toolchain/README.md
  crates/huak-toolchain/src/channel.rs
  crates/huak-toolchain/src/error.rs
  crates/huak-toolchain/src/lib.rs
  crates/huak-toolchain/src/path.rs
  crates/huak-toolchain/src/resolve.rs
  crates/huak-toolchain/src/tools.rs
  dev-resources/planning.md
  pyproject.toml
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Start 0.0.20-alpha.1
  Cargo.lock
  crates/huak-cli/Cargo.toml
  pyproject.toml
Due: none

Fix toolchain install command
  crates/huak-package-manager/src/ops/toolchain.rs
Due: rustfmt, cargo-test, clippy

Add Workspace planning.md entry
  dev-resources/planning.md
Due: none

Add Workspace planning.md entry (#816)
  dev-resources/planning.md
Due: none

Update planning.md (#818)
  dev-resources/planning.md
Due: none
