Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: rustfmt
        description: Check Rust fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
        fail_fast: true

      - id: cargo-test
        name: cargo test
        description: Run Rust tests.
        entry: cargo test
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "--test-threads=1"]
        fail_fast: true

      - id: clippy
        name: clippy
        description: Run Rust lints.
        entry: cargo clippy
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "-D", "warnings"]
        fail_fast: true
        
      # Python
      - id: pyfmt
        name: pyfmt
        description: Check Python fmt.
        entry: cd huak-py && make fmt-check
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: flake8
        name: flake8
        description: Run Python lints.
        entry: cd huak-py && make lint
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: mypy
        name: mypy
        description: Check Python types.
        entry: cd huak-py && make lint-types
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true
        
      - id: pytest
        name: pytest
        description: Run Python tests.
        entry: cd huak-py && make test
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

Use 'some' prefixing instead of 'it' and 'them' (#419)
  src/huak/ops/install.rs
  src/huak/package/mod.rs
  src/huak/project/project_file.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.9-alpha.3
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.9-alpha.3 (#420)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add basic Runner, update basic Installer, and small optimizations
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/mod.rs
  src/huak/env/runner.rs
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
  src/huak/package/installer.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10-alpha.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add basic Runner, update basic Installer, and small optimizations (#421)
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/mod.rs
  src/huak/env/runner.rs
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
  src/huak/package/installer.rs
Due: rustfmt, cargo-test, clippy

Update README.md
  README.md
Due: none

Update README.md (#423)
  README.md
Due: none

Bump to v0.0.10-alpha.1 (#422)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Fix README.md
  README.md
Due: none

Fix README.md
  README.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Exit install command silently if no dependencies
  src/bin/huak/commands/install.rs
  src/huak/env/venv.rs
  src/huak/ops/install.rs
  src/huak/project/mod.rs
  src/huak/project/project_file.rs
Due: rustfmt, cargo-test, clippy

Exit install command silently if no dependencies (#427)
  src/bin/huak/commands/install.rs
  src/huak/env/venv.rs
  src/huak/ops/install.rs
  src/huak/project/mod.rs
  src/huak/project/project_file.rs
Due: rustfmt, cargo-test, clippy

Update `huak new` to bootstrap with pre-formatted code
  src/huak/ops/new.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Improve tests and use some Project mutation
  resources/mock-project/pyproject.toml
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/remove.rs
  src/huak/ops/add.rs
  src/huak/ops/init.rs
  src/huak/ops/new.rs
  src/huak/ops/remove.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Update `huak new` to bootstrap with pre-formatted code (#428)
  src/huak/ops/new.rs
  src/huak/project/mod.rs
Due: rustfmt, cargo-test, clippy

Generate project file string in serialize if filepath exists
  src/huak/project/project_file.rs
Due: rustfmt, cargo-test, clippy

Simplify installer pip helper functions
  src/huak/package/installer.rs
Due: rustfmt, cargo-test, clippy

Improve tests and use some Project mutation (#430)
  resources/mock-project/pyproject.toml
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/remove.rs
  src/huak/ops/add.rs
  src/huak/ops/init.rs
  src/huak/ops/new.rs
  src/huak/ops/remove.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Generate project file string in serialize if filepath exists (#431)
  src/huak/project/project_file.rs
Due: rustfmt, cargo-test, clippy

Simplify installer's helper functions (#432)
  src/huak/package/installer.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10-alpha.2
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.2 (#433)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Add python_environment module
  resources/mock-project/src/mock_project/__init__.py
  resources/mock-project/src/mock_project/__init__.pyc
  src/bin/huak/commands/activate.rs
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/mod.rs
  src/huak/env/python_environment.rs
  src/huak/env/runner.rs
  src/huak/env/system.rs
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/clean.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
  src/huak/package/dist_info.rs
  src/huak/package/installer.rs
  src/huak/package/mod.rs
  src/huak/project/project_file.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add python_environment module (#434)
  resources/mock-project/src/mock_project/__init__.py
  resources/mock-project/src/mock_project/__init__.pyc
  src/bin/huak/commands/activate.rs
  src/bin/huak/commands/add.rs
  src/bin/huak/commands/build.rs
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/fmt.rs
  src/bin/huak/commands/install.rs
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/remove.rs
  src/bin/huak/commands/run.rs
  src/bin/huak/commands/test.rs
  src/huak/env/mod.rs
  src/huak/env/python_environment.rs
  src/huak/env/runner.rs
  src/huak/env/system.rs
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/clean.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/run.rs
  src/huak/ops/test.rs
  src/huak/package/dist_info.rs
  src/huak/package/installer.rs
  src/huak/package/mod.rs
  src/huak/project/project_file.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Bump to v0.0.10-alpha.3
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.3 (#436)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Use PythonEnvironment trait
  src/bin/huak/commands/install.rs
  src/huak/env/python_environment.rs
  src/huak/env/runner.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Use PythonEnvironment trait (#442)
  src/bin/huak/commands/install.rs
  src/huak/env/python_environment.rs
  src/huak/env/runner.rs
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/lint.rs
  src/huak/ops/remove.rs
  src/huak/ops/test.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Add untested DistInfo
  src/huak/env/python_environment.rs
  src/huak/package/dist_info.rs
Due: rustfmt, cargo-test, clippy

Add untested DistInfo (#443)
  src/huak/env/python_environment.rs
  src/huak/package/dist_info.rs
Due: rustfmt, cargo-test, clippy

Replace fs_extra usage
  Cargo.lock
  Cargo.toml
  src/huak/ops/clean.rs
  src/huak/project/mod.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Replace fs_extra usage (#444)
  Cargo.lock
  Cargo.toml
  src/huak/ops/clean.rs
  src/huak/project/mod.rs
  src/huak/utils/path.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.10-alpha.4
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.10-alpha.4 (#445)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml (#447)
  pyproject.toml
Due: none
