Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

rustfmt:
  name: rustfmt
  description: Check Rust fmt.
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check
  fail_fast: true

cargo-test:
  name: cargo test
  description: Run Rust tests.
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - --test-threads=1
  fail_fast: true

clippy:
  name: clippy
  description: Run Rust lints.
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --
  - -D
  - warnings
  fail_fast: true

pyfmt:
  name: pyfmt
  description: Check Python fmt.
  entry: cd huak-py && make fmt-check
  language: system
  pass_filenames: false
  fail_fast: true

flake8:
  name: flake8
  description: Run Python lints.
  entry: cd huak-py && make lint
  language: system
  pass_filenames: false
  fail_fast: true

mypy:
  name: mypy
  description: Check Python types.
  entry: cd huak-py && make lint-types
  language: system
  pass_filenames: false
  fail_fast: true

pytest:
  name: pytest
  description: Run Python tests.
  entry: cd huak-py && make test
  language: system
  pass_filenames: false
  fail_fast: true

fix python file formatting, remove lib bootstrap code
  src/huak/project/pyproject.rs
Due: rustfmt, cargo-test, clippy

Bootstrap with template (#289)
  src/bin/huak/commands/mod.rs
  src/bin/huak/commands/new.rs
  src/huak/ops/init.rs
  src/huak/ops/install.rs
  src/huak/ops/mod.rs
  src/huak/ops/new.rs
  src/huak/ops/project_utils.rs
  src/huak/project/mod.rs
  src/huak/project/pyproject.rs
Due: rustfmt, cargo-test, clippy

Use project name for package and more updates
  resources/mock-project/mock_project/__init__.py
  resources/mock-project/mock_project/__init__.pyc
  src/huak/config/pyproject/toml.rs
  src/huak/errors.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/ops/new.rs
  src/huak/project/config.rs
  src/huak/project/pyproject.rs
  src/huak/utils/path.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Use project name for package and update bootstrapping
  resources/mock-project/mock_project/__init__.py
  resources/mock-project/mock_project/__init__.pyc
  src/huak/config/pyproject/toml.rs
  src/huak/errors.rs
  src/huak/ops/clean.rs
  src/huak/ops/fmt.rs
  src/huak/ops/new.rs
  src/huak/project/config.rs
  src/huak/project/pyproject.rs
  src/huak/utils/path.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

basic fix command (#282)
  src/bin/huak/commands/fix.rs
  src/bin/huak/commands/mod.rs
  src/huak/ops/fix.rs
  src/huak/ops/mod.rs
Due: rustfmt, cargo-test, clippy

Update fix_project test
  src/huak/ops/fix.rs
Due: rustfmt, cargo-test, clippy

Update fix_project test (#292)
  src/huak/ops/fix.rs
Due: rustfmt, cargo-test, clippy

Handle ruff --fix suggestion
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/mod.rs
Due: rustfmt, cargo-test, clippy

Handle ruff --fix suggestion (#293)
  src/bin/huak/commands/lint.rs
  src/bin/huak/commands/mod.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.6-alpha.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.6-alpha.1 (#294)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Remove useless call
  src/huak/env/venv.rs
Due: rustfmt, cargo-test, clippy

Only match venvs it root directory
  .gitignore
Due: none

Only match venvs it root directory (#295)
  .gitignore
Due: none

Refactor OS check to compile-time
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Check if activation script exists
  src/huak/env/venv.rs
Due: rustfmt, cargo-test, clippy

Add activate command (#283)
  Cargo.lock
  Cargo.toml
  src/bin/huak/commands/activate.rs
  src/huak/env/venv.rs
  src/huak/errors.rs
  src/huak/ops/activate.rs
  src/huak/ops/mod.rs
  src/huak/utils/mod.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Move clean-pycache command to clean flag
  README.md
  resources/mock-project/tests/test_package.py
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/mod.rs
  src/huak/ops/clean.rs
  src/huak/ops/fix.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Move clean-pycache command to clean flag (#296)
  README.md
  resources/mock-project/tests/test_package.py
  src/bin/huak/commands/clean.rs
  src/bin/huak/commands/mod.rs
  src/huak/ops/clean.rs
  src/huak/ops/fix.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Indicate activate command availability in README
  README.md
Due: none

Indicate activate command availability in README (#297)
  README.md
Due: none

Bump to v0.0.7-alpha.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.7-alpha.1 (#298)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Update toml tests
  src/huak/config/pyproject/toml.rs
Due: rustfmt, cargo-test, clippy

Update toml tests (#299)
  src/huak/config/pyproject/toml.rs
Due: rustfmt, cargo-test, clippy

Add windows and macos OS to ci-rust action
  .github/workflows/ci-rust.yaml
Due: none

Add windows and mac OS to ci-rust action (#300)
  .github/workflows/ci-rust.yaml
Due: none

Don't set_window_size for activate on windows
  src/huak/env/venv.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Set activate command to unimplemented on windows
  .github/workflows/ci-rust.yaml
  src/huak/env/venv.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Set activate command to unimplemented on windows (#301)
  .github/workflows/ci-rust.yaml
  src/huak/env/venv.rs
  src/huak/utils/shell.rs
Due: rustfmt, cargo-test, clippy

Bump to v0.0.7-alpha.2
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Bump to v0.0.7-alpha.2 (#304)
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#305)
  README.md
Due: none

Add implementation for `activate` on Windows
  src/huak/env/venv.rs
Due: rustfmt, cargo-test, clippy

Add tests for `activate` command
  src/huak/env/venv.rs
  src/huak/ops/activate.rs
Due: rustfmt, cargo-test, clippy

Reduce boilerplate in tests
  src/huak/ops/activate.rs
  src/huak/ops/add.rs
  src/huak/ops/build.rs
  src/huak/ops/fix.rs
  src/huak/ops/fmt.rs
  src/huak/ops/install.rs
  src/huak/ops/remove.rs
  src/huak/utils/test_utils.rs
Due: rustfmt, cargo-test, clippy

Indicate start of Alpha phase
  README.md
  src/huak/lib.rs
Due: rustfmt, cargo-test, clippy

Path conditions:
  rustfmt: any of: Cargo\.toml|\.rs$ and \.rs$
  cargo-test: any of: Cargo\.toml|\.rs$ and \.rs$
  clippy: any of: Cargo\.toml|\.rs$ and \.rs$
  pyfmt: any of: pyproject\.toml|\.py$ and \.py$
  flake8: any of: pyproject\.toml|\.py$ and \.py$
  mypy: any of: pyproject\.toml|\.py$ and \.py$
  pytest: any of: pyproject\.toml|\.py$ and \.py$
