Repository cnpryer/huak: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Rust
      - id: rustfmt
        name: rustfmt
        description: Check Rust fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
        fail_fast: true

      - id: cargo-test
        name: cargo test
        description: Run Rust tests.
        entry: cargo test
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "--test-threads=1"]
        fail_fast: true

      - id: clippy
        name: clippy
        description: Run Rust lints.
        entry: cargo clippy
        language: system
        types: [rust]
        files: Cargo\.toml|\.rs$
        pass_filenames: false
        args: ["--all-features", "--", "-D", "warnings"]
        fail_fast: true
        
      # Python
      - id: pyfmt
        name: pyfmt
        description: Check Python fmt.
        entry: cd huak-py && make fmt-check
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: flake8
        name: flake8
        description: Run Python lints.
        entry: cd huak-py && make lint
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

      - id: mypy
        name: mypy
        description: Check Python types.
        entry: cd huak-py && make lint-types
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true
        
      - id: pytest
        name: pytest
        description: Run Python tests.
        entry: cd huak-py && make test
        language: system
        types: [python]
        files: pyproject\.toml|\.py$
        pass_filenames: false
        fail_fast: true

Add `huak_dev` crate
  Cargo.lock
  crates/huak_cli/Cargo.toml
  crates/huak_cli/src/cmd/add.rs
  crates/huak_cli/src/cmd/build.rs
  crates/huak_cli/src/cmd/clean.rs
  crates/huak_cli/src/cmd/format.rs
  crates/huak_cli/src/cmd/install.rs
  crates/huak_cli/src/cmd/lint.rs
  crates/huak_cli/src/cmd/mod.rs
  crates/huak_cli/src/cmd/remove.rs
  crates/huak_cli/src/cmd/run.rs
  crates/huak_cli/src/cmd/test.rs
  crates/huak_cli/src/cmd/update.rs
  crates/huak_cli/tests/mod.rs
  crates/huak_dev/Cargo.toml
  crates/huak_dev/src/lib.rs
  crates/huak_package_manager/Cargo.toml
  crates/huak_package_manager/src/fs.rs
  crates/huak_package_manager/src/lib.rs
  crates/huak_package_manager/src/metadata.rs
Due: rustfmt, cargo-test, clippy

Add `huak_dev` crate (#770)
  Cargo.lock
  crates/huak_cli/Cargo.toml
  crates/huak_cli/src/cmd/add.rs
  crates/huak_cli/src/cmd/build.rs
  crates/huak_cli/src/cmd/clean.rs
  crates/huak_cli/src/cmd/format.rs
  crates/huak_cli/src/cmd/install.rs
  crates/huak_cli/src/cmd/lint.rs
  crates/huak_cli/src/cmd/mod.rs
  crates/huak_cli/src/cmd/remove.rs
  crates/huak_cli/src/cmd/run.rs
  crates/huak_cli/src/cmd/test.rs
  crates/huak_cli/src/cmd/update.rs
  crates/huak_cli/tests/mod.rs
  crates/huak_dev/Cargo.toml
  crates/huak_dev/src/lib.rs
  crates/huak_package_manager/Cargo.toml
  crates/huak_package_manager/src/fs.rs
  crates/huak_package_manager/src/lib.rs
  crates/huak_package_manager/src/metadata.rs
Due: rustfmt, cargo-test, clippy

Move commands into `huak_package_manager` ops
  Cargo.lock
  crates/huak_cli/Cargo.toml
  crates/huak_cli/src/cli.rs
  crates/huak_cli/src/error.rs
  crates/huak_cli/src/main.rs
  crates/huak_package_manager/src/lib.rs
  crates/huak_package_manager/src/ops/activate.rs
  crates/huak_package_manager/src/ops/add.rs
  crates/huak_package_manager/src/ops/build.rs
  crates/huak_package_manager/src/ops/clean.rs
  crates/huak_package_manager/src/ops/format.rs
  crates/huak_package_manager/src/ops/init.rs
  crates/huak_package_manager/src/ops/install.rs
  crates/huak_package_manager/src/ops/lint.rs
  crates/huak_package_manager/src/ops/mod.rs
  crates/huak_package_manager/src/ops/new.rs
  crates/huak_package_manager/src/ops/publish.rs
  crates/huak_package_manager/src/ops/python.rs
  crates/huak_package_manager/src/ops/remove.rs
  crates/huak_package_manager/src/ops/run.rs
  crates/huak_package_manager/src/ops/test.rs
  crates/huak_package_manager/src/ops/update.rs
  crates/huak_package_manager/src/ops/version.rs
Due: rustfmt, cargo-test, clippy

Move commands into `huak_package_manager` ops (#772)
  Cargo.lock
  crates/huak_cli/Cargo.toml
  crates/huak_cli/src/cli.rs
  crates/huak_cli/src/error.rs
  crates/huak_cli/src/main.rs
  crates/huak_package_manager/src/lib.rs
  crates/huak_package_manager/src/ops/activate.rs
  crates/huak_package_manager/src/ops/add.rs
  crates/huak_package_manager/src/ops/build.rs
  crates/huak_package_manager/src/ops/clean.rs
  crates/huak_package_manager/src/ops/format.rs
  crates/huak_package_manager/src/ops/init.rs
  crates/huak_package_manager/src/ops/install.rs
  crates/huak_package_manager/src/ops/lint.rs
  crates/huak_package_manager/src/ops/mod.rs
  crates/huak_package_manager/src/ops/new.rs
  crates/huak_package_manager/src/ops/publish.rs
  crates/huak_package_manager/src/ops/python.rs
  crates/huak_package_manager/src/ops/remove.rs
  crates/huak_package_manager/src/ops/run.rs
  crates/huak_package_manager/src/ops/test.rs
  crates/huak_package_manager/src/ops/update.rs
  crates/huak_package_manager/src/ops/version.rs
Due: rustfmt, cargo-test, clippy

Update ci
  .github/workflows/ci.yaml
Due: none

Update ci (#773)
  .github/workflows/ci.yaml
Due: none

Add toolchain
  .gitignore
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/README.md
  crates/huak_python_manager/requirements-dev.txt
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/scripts/generated_python_releases.parquet
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add `huak_python_manager` crate (#765)
  .gitignore
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/README.md
  crates/huak_python_manager/requirements-dev.txt
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/scripts/generated_python_releases.parquet
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Fix comment
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/src/releases.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Update `huak_python_manager` README.md
  crates/huak_python_manager/README.md
Due: none

Update `huak_python_manager` releases.rs
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/scripts/generated_python_releases.parquet
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Update `huak_python_manager` releases.rs (#774)
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/scripts/generated_python_releases.parquet
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Note subprocess hack in main.rs
  crates/huak_cli/src/main.rs
Due: rustfmt, cargo-test, clippy

Note subprocess hack in main.rs (#776)
  crates/huak_cli/src/main.rs
Due: rustfmt, cargo-test, clippy

Add `huak_python_manager install`
  Cargo.lock
  Cargo.toml
  crates/huak_cli/Cargo.toml
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add basic release download logic (#775)
  Cargo.lock
  Cargo.toml
  crates/huak_cli/Cargo.toml
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/releases.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Update generate_python_releases.py
  crates/huak_python_manager/scripts/generate_python_releases.py
Due: pyfmt, flake8, mypy, pytest

Update generate_python_releases.py (#778)
  crates/huak_python_manager/scripts/generate_python_releases.py
Due: pyfmt, flake8, mypy, pytest

Add basic Python release resolution to `huak_python_manager`
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/releases.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add basic Python release resolution to `huak_python_manager` (#777)
  crates/huak_python_manager/scripts/generate_python_releases.py
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/releases.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Refactor `is_requested_version` as `RequestedVersion.matches_version`
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy

Refactor `is_requested_version` as `RequestedVersion.matches_version` (#779)
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy

Add basic checksum validation to `huak_python_manager`
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Add basic checksum validation to `huak_python_manager` (#780)
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Move `RequestedVersion` to resolve.rs and implement `Display`
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy

Move `RequestedVersion` to resolve.rs and implement `Display` (#781)
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/resolve.rs
  crates/huak_python_manager/src/version.rs
Due: rustfmt, cargo-test, clippy

Install Python to toolchains directory
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Install Python to toolchains directory (#782)
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Use `sha2` to validate Python release checksums
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Use `sha2` to validate Python release checksums (#783)
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/src/install.rs
Due: rustfmt, cargo-test, clippy

Use `ruff`'s formatter
  crates/huak_package_manager/src/ops/format.rs
  docs/user_guide.md
Due: rustfmt, cargo-test, clippy

Use `ruff`'s formatter (#785)
  crates/huak_package_manager/src/ops/format.rs
  docs/user_guide.md
Due: rustfmt, cargo-test, clippy

Cargo fmt
  crates/huak_package_manager/src/ops/format.rs
Due: rustfmt, cargo-test, clippy

Use `install_with_target` and export as public from `huak_python_manager`
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/README.md
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/lib.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Use `install_with_target` and export as public from `huak_python_manager` (#786)
  Cargo.lock
  crates/huak_python_manager/Cargo.toml
  crates/huak_python_manager/README.md
  crates/huak_python_manager/src/cli.rs
  crates/huak_python_manager/src/install.rs
  crates/huak_python_manager/src/lib.rs
  crates/huak_python_manager/src/main.rs
  crates/huak_python_manager/src/resolve.rs
Due: rustfmt, cargo-test, clippy

Update `huak_python_manager`
  crates/huak_python_manager/src/lib.rs
Due: rustfmt, cargo-test, clippy

Add `huak python install` command
  .github/workflows/ci.yaml
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/ops/mod.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  pyproject.toml
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest

Add `huak python install` command (#788)
  .github/workflows/ci.yaml
  Cargo.lock
  crates/huak-cli/Cargo.toml
  crates/huak-cli/src/cli.rs
  crates/huak-package-manager/Cargo.toml
  crates/huak-package-manager/src/error.rs
  crates/huak-package-manager/src/ops/mod.rs
  crates/huak-package-manager/src/ops/python.rs
  crates/huak-python-manager/scripts/generate_python_releases.py
  crates/huak-python-manager/src/cli.rs
  crates/huak-python-manager/src/install.rs
  crates/huak-python-manager/src/lib.rs
  crates/huak-python-manager/src/releases.rs
  crates/huak-python-manager/src/resolve.rs
  pyproject.toml
Due: rustfmt, cargo-test, clippy, pyfmt, flake8, mypy, pytest
